/**
 * This file contain no more used CSS,
 * I keep them in case in change my mind.
 */
 
 :root {
	--icon-lightbulb: url(images/day.svg);
 }

.dark-mode {
	--icon-lightbulb: url(images/night.svg);
}

.dark-mode {
	--color-background: #2f2f2f;
	--color-bt-off:#575757;
	--color-bt-on:#666565;
	--color-default: #e5e5e5;
	--color-second: #2b2b2e;
	--color-three: #4b4b4b;
	--color-four: #d1d1d1;
	--light-only-color: transparent;
	--light-only-shadow: 0px 0px 0px #000;
	--light-only-shadow-hover: 0px 0px 0px #000;
	--dark-only-color: #3c3c3c;
	--dark-only-color-2: #4c4c4c;
	--color-navbar: rgba(47, 47, 47, 0.8);
	--icon-search: url(images/search_dark.svg);
	--icon-default: url(images/imageDefault_night.svg) center center #4c4c4c;
	--icon-protected: url(images/err-passwordprotected_night.svg) center center no-repeat #4c4c4c;
	--icon-textDefault: url(images/textDefault_night.svg) center center #4c4c4c;
	--icon-fav-add: url(images/f_add_night.svg);
	--icon-textDefault-related: url(images/textDefault_night.svg);
}


@media (prefers-color-scheme: dark) {
	:root {
		--icon-lightbulb: url(images/night.svg);
	}
}

.lightbulb {
	display: inline-block;
	background: var(--icon-lightbulb) center center no-repeat;
	border: var(--color-default) solid 1px;
	border-radius: 20px;
	text-indent: -999px;
	cursor: pointer;
	background-size: contain;
	width: 25px;
	height: 25px;
	overflow: hidden;
}

/**
* HTML located in inc-footer.php
* <li><button class="lightbulb" aria-hidden="true">Toggle mode</button></li>
*/

/**
* HTML located in inc-header.php in <head>
<script>const colorScheme = localStorage.getItem("color-scheme") || "light-mode";</script>
 */
 
 /**
 * JS is located in js/unused.js
   */
